@import url('https://fonts.googleapis.com/css2family=Poppins:wght@400;600;900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
    margin: 0;
    background: linear-gradient(to left top, #38101b, #101010, #101010, #38101b);
    background-repeat: no-repeat;
    height: auto;
}

/*HEADER BEGINS HERE */

header{
    border-bottom: 1px solid dimgrey;
    height: 150px;
    position: relative;
}
.con-head{
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    margin: auto;
}
.logoimg{
  margin-left: auto;
  margin-right: auto;
  width: 45px;
    display: inline-block;
    margin-left: 30px;
}
.logoname{
    display: inline-block;
    position: absolute;
    bottom: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/*MAIN CONTENTS BEGINS HERE */

main {
  display: flex;
  justify-content: center;
  align-items: center;
    height: auto;
}
.con-peak{
    border-radius: 20px;
    border: 1px solid dimgrey;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 200px;
    background: rgb(25, 25, 25, .5);
    color: white;
    text-align: center;
    font-style: italic;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
    top: 120px;
}

.con-info{
    display: block;
    width: 400px;
    height: auto;
    top: 170px;
    border: 1px solid white;
}

.sub-head{
    display: block;
    height: auto;
    border: 1px solid yellow;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.info{
    display: block;
    height: auto;
    border: 1px solid orange;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-size: 12px;
    text-align: justify;
}
.info-one{
    display: block;
    height: auto;
    border: 1px solid orange;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-size: 12px;
    text-align: justify;
}

p{
    margin: 10px 0px;
    text-indent: 30px;
}
.user{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50px;
    top: 120px;
}
.name{
    display: inline-block;
    border: 1px solid white;
    font-weight: 500;
    font-size: 15px;
}
.desc{
    display: inline-block;
    border: 1px solid white;
}
.main-title{
    position: absolute;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}

/*SPACER STARTS*/
.spacer{
    display: block;
    height: 0vh;
    border: 1px solid red;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*SPACER ENDS*/


/*FOOTER BEGINS HERE */

footer{ 
    
    padding: 10px;
    padding-top: 60px;
    height: 150px;
    filter: blur(0px);
    position: sticky;
    bottom: 0;
    text-align: center;

}
.bg-blur{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(10px);
    background: rgb(50, 50, 50, .9);
}
.search-bar{
    top: 10px;
    right: 0;
    left: 0;
    text-align: left;
    height: 40px;
    width: 280px;
    padding: 0px 20px;
    color: rgb(129, 129, 129);
    border-radius: 7px;
    position: absolute;
    border: none;
    margin:auto;
}
i{
    color: white;
    margin: 10px 0px;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 40px;
}
.fa-circle-info{
    color: white;
    background: #fe0104;
    border-radius: 5px;
}
.sub-title{
    margin-top: 5px;
    font-size: 10px;
    font-weight: 400;
}

.fa-arrow-right-long{
    display: block;
    width: 300px;
    position: absolute;
    top: 5px;
    right: 0;
    left: 00;
    color: grey;
    border: 1px solid;
    width: 10px;
    margin-left: 65%
    
}