/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #fff;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open{
    width: 250px;
    transition: all 0.5s ease;
}
.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    
}
.sidebar .logo-details img{
    display: inline-block;
    float: left;
    opacity: 0;
    transition: all 0.5s ease;
    width: 40px;
    cursor: pointer;
}
.sidebar .logo-details .logo_name{
    color: #090e35;
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 130%;
    font-weight: 600;
    opacity: 0;
    transition: all 0.4s ease;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.sidebar.open .logo-details img,
.sidebar.open .logo-details .logo_name{
    opacity: 1;
}
.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
    text-align: right;
}
.sidebar i{
    color: #090e35;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}
.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #090e35;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    color: #fff;
}
.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip{
    display: none;
}
.sidebar input{
    font-size: 15px;
    color: #090e35;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #E4E9F7;
}
.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #E4E9F7;
    color: #090e35;
    }
.sidebar.open .bx-search:hover{
    background: #E4E9F7;
    color: #090e35;
}
.sidebar .bx-search:hover{
    background: #090e35;
    color: #fff;
}
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #fff;
}
.sidebar li a:hover{
    background: #fff;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #bb1f18;   
}
.sidebar li a.hov{
    background: #fff;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #bb1f18;   
}
.sidebar li a .links_name{
    color: #090e35;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #090e35;
}
.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #090e35;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar div.bc{
    width: 100%;
    height: 105%;
    padding: 10px 25px; 
}
.sidebar .bc img{
    width: 100%;
    height: 105%; 
}
.sidebar.open li.profile{
    width: 250px;
}
.sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sidebar li.profile .job{
    font-size: 12px;
}

.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #090e35;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    color: #fff;
    cursor: pointer;
}
.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
    color: #fff;
}
.home-section{
    position: relative;
    background: #f2f2f2;
    min-height: 00vh;
    height: auto;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}
.home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}


.container{
    border: 1px solid #f2f2f2;
    height: 111vh;
    width: auto;
}
div.top{
    background: url(images/admin4.svg);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: 90%;
    width: 98%;
    height: 160px;
    margin: 20px;
}
div.spacer{
    width: 10%;
    display: inline-block;
    float: left;
    opacity: 0;
    
}
.bx-bell{
    color: #090e35;
    text-shadow: 1px 1px 20px #f2f2f2;
    margin-left: 55%;
    font-size: 30px;
    cursor: pointer;  
}
.bx-arrow-from-right{
    color: #090e35;
    margin-left: 2%;
    font-size: 34px;
    cursor: pointer;
}
.bx-arrow-from-left{
    color: #090e35;
    margin-left: 2%;
    font-size: 34px;
    cursor: pointer;
}
.bx-info-circle{
    color: #090e35;
    margin-left: 2%;
    font-size: 30px;
    cursor: pointer;

}
.bx-info-circle:hover{
    color: #dd251b;
	transition: .4s;
}
.bx-arrow-from-right:hover{
    color: #dd251b;
	transition: .4s;
}
.bx-arrow-from-left:hover{
    color: #dd251b;
	transition: .4s;
}
.bx-bell:hover{
    color: #dd251b;
	transition: .4s;
}
.top h2.fsub{
    font-size: 200%;
    font-weight:600;
    margin-bottom: 30px;
}
.top-img img{
    display: inline-block;
    float: left;
    width: 50px;;
    margin: 0px 10px;
}
.top-img img.add-more{
    width: 30px;
    margin-top: 14px;
    opacity: 50%;
    cursor: pointer;
}
.top-img h6.add-morei{
    margin-left: 136px;
    font-size: 12px;
}

/**START OF CONTENTS**/
div.fcon{
    position: relative;
    background-color: #fff;
    width: 91%;
    height: auto;
    padding: 40px;
    border-radius: 5px;
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: #090e35;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}
.fcon .about{
    font-size: 170%;
    border-bottom: 4px solid;
    border-bottom-color: #bb1f18; 
    position: absolute;
}

.submit input{
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(to right, #dd251b, #dd251b,#fc271c,#dd251b);
	background-size: 160%;
	font-size: .8rem;
	color: #ffffff;
	cursor: pointer;
	transition: .5s;
}
.submit input:hover{
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    color: white;
    background-position: right;
}
.submit input:active{
    background-image: linear-gradient(to right, #090e35, #0e1652,#090e35);
    transform: translate(.1px);
}
input.edit{
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(to right, #dd251b, #dd251b,#fc271c,#dd251b);
	background-size: 160%;
	font-size: .8rem;
	color: #ffffff;
	cursor: pointer;
	transition: .5s;
}
input.edit:hover{
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    color: white;
    background-position: right;
}
input.edit:active{
    background-image: linear-gradient(to right, #090e35, #0e1652,#090e35);
    transform: translate(.1px);
}
input.confirm{
    width: 115px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(to right, #dd251b, #dd251b,#fc271c,#dd251b);
	background-size: 160%;
	font-size: .8rem;
	color: #ffffff;
	cursor: pointer;
	transition: .5s;
}
input.confirm:hover{
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    color: white;
    background-position: right;
}
input.confirm:active{
    background-image: linear-gradient(to right, #090e35, #0e1652,#090e35);
    transform: translate(.1px);
}
input.remove{
    margin: 0px 20px;
    width: 115px;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(to right, #dd251b, #dd251b,#fc271c,#dd251b);
	background-size: 160%;
	color: #ffffff;
	cursor: pointer;
	transition: .5s;
}
input.remove:hover{
    font-weight: bold;
    padding: 15px;
    border-radius: 6px;
    border: none;
    color: white;
    background-position: right;
}
input.remove:active{
    background-image: linear-gradient(to right, #989cb3, #989cb3,grey,#989cb3);
    transform: translate(.1px);
}
.tdes{
    border: 10px solid;
    border-color: #edeef1;
    border-radius: 10px;
    background-color: #edeef1;
}
#content{
    border: 10px solid;
    border-color: #090e35;
    border-radius: 10px;
    height: auto;
    width: auto;
}
.row{
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #090e35;
}
input.cs{
    margin: 3px 5px;
    width: 20%;
    min-width: 200px;;
    padding: 14px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 5px;
    border: none;
}
input.id{
    margin: 3px 5px;
    width: 15%;
    min-width: 200px;;
    padding: 14px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 5px;
    border: none;
}
input.ir{
    margin: 3px 5px;
    width: 15%;
    min-width: 200px;
    padding: 14px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 5px;
    border-width: 1px;
    border: none;
}

.confirm{
    position: absolute;
    left: 200px;
}
.bx-book-bookmark{
    position: absolute;
    top: 25px;
    left: 200px;
    font-size: 300%;
    color: aliceblue;
}